<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap" _mstaria-label="138918" _mstHash="36"><use xlink:href="#bootstrap"></use></svg>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 link-secondary" _msttexthash="172848" _msthash="109">Meus Cursos</a></li>
              <li><a href="#" class="nav-link px-2 link-secondary" _msttexthash="181181" _msthash="108">Certificados</a></li>
            </ul>
    
            
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://th.bing.com/th/id/R.8e2c571ff125b3531705198a15d3103c?rik=gzhbzBpXBa%2bxMA&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-big-image-png-2240.png&ehk=VeWsrun%2fvDy5QDv2Z6Xm8XnIMXyeaz2fhR3AgxlvxAc%3d&risl=&pid=ImgRaw&r=0" alt="mdo" width="32" height="32" class="rounded-circle" _mstalt="33306">
            </a>
            <div class="dropdown text-end">
              <ul class="dropdown-menu text-small" style="" _msthidden="4">
                <li _msthidden="1"><a class="dropdown-item" href="#" _msttexthash="117221" _msthidden="1" _msthash="113">Meus Cursos</a></li>
                <li _msthidden="1"><a class="dropdown-item" href="#" _msttexthash="94315" _msthidden="1" _msthash="114">Certificados</a></li>
                <li><hr class="dropdown-divider"></li>
                <li _msthidden="1"><a class="dropdown-item" href="#" _msttexthash="98553" _msthidden="1" _msthash="115">Sair</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>


      <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom" _msttexthash="519038" _msthash="28">Meus Cursos</h2>
    
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://th.bing.com/th/id/OIG3.5SgWy59LLH7W1uhpOC5Q?pid=ImgGn');  background-size: cover; background-position: center; background-repeat: no-repeat; height: 100%;">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" _msttexthash="618839" _msthash="29" style="color: white;">Segurança para alunos</h3>
                <ul class="d-flex list-unstyled mt-auto">
    
                  <li class="d-flex align-items-center me-3">
                    <small _msttexthash="60177" _msthash="31" style="color: white;">Alunos</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://th.bing.com/th/id/OIG4.39I1RA7t8UQD0eqLCIvy?pid=ImgGn');  background-size: cover; background-position: center; background-repeat: no-repeat; height: 100%;">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" _msttexthash="1702480" _msthash="33" style="color: white;">Segurança Para Professores</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="d-flex align-items-center me-3">
                    <small _msttexthash="161317" _msthash="35" style="color: white;">Professores</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    
          
        </div>
      </div>

      <div class="container d-flex flex-column">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top mt-auto">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
          </div>
        
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-card-text"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-book-half"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-box-arrow-in-left"></i></a></li>
          </ul>
        </footer>
      </div>
    
</body>
</html>